* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: #ffffff;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.035) 1px, transparent 1px),
        linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px),
        radial-gradient(circle at top, rgba(255, 255, 255, 0.02), transparent 60%);
    background-size:
        48px 48px,
        48px 48px,
        100% 100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'inter', sans-serif;
}

nav a:hover {
    color: #bdc1bd;
}

nav .logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}


ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.container {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
}

#hero {
    position: relative;
}

.hero-banner {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
}

.hero-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.hero-avatar {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 20%;
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 8px;

}

.hero-text p {
    font-size: 16px;
    margin-bottom: 10px;
}

#about {
    padding: 10px 0;
}

#about h2{
    margin-bottom: 22px;
}

#about p{
    font-size: 16px;
    line-height: 1.8;
    color: #d0d0d0;
    margin-bottom: 16px;
}